ul {
	margin-top: 10px;
	padding-top: 5px;
  width: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

li {
  line-height: 1.5em;
  float: left;
  display: inline;
  font-size: 30px;
	width: 70px;
	height: 90px;
	border: 1px solid black;
	border-radius: 5px;
}

.card-item {
    vertical-align: middle;
    height: 100%;
    display: block;
    line-height:30px;
		text-align: center;
		line-height:50px;
}

li:hover {
	cursor: pointer;
	border: 3px solid black;
	border-radius: 5px;
}

h1 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

.content {
	width: 500px;
}

.btn-success {
	float: right;
	width: 100px;
}